{"description":"${description}","imageDigest":"${digest}","kmsKeyId":"${kms_key_id}","kmsKeyVersionId":"${kms_key_version_id}","metadata":"${metadata}","region":"${region}","repositoryName":"${repository_name}","signingAlgorithm":"${signing_algorithm}"}