.terraform
.terraform_bk*
terraform.tfstate*
.terraform.tfstate.lock.info
tf.plan
*.tfvars
*.orig
*.log
.DS_Store
.env
.idea
.vscode
.wercker
terraform-encrypted-des.sh
terraform-encrypted.sh
terraform-plain.sh
bin/*
obmc-container-clean
terraform-provider-oci
*.iml
debug.test
*.iws
*.ipr
docs/solutions/rhel74_image/ipxe.sh
vendor/github.com/oracle/oci-go-sdk/target
*.test
.gitmodules
internal/record
.terraform.lock.hcl
dist/
examples/opsi/description.md
