# GETTING STARTED
#
# 1. Download and install TerraForm (https://www.terraform.io/downloads.html)
# 2. Download and install the OCI TerraForm provider (https://github.com/oracle/terraform-provider-oci/)
# 3. Make sure that you have an OCI API key setup
#       See https://docs.us-phoenix-1.oraclecloud.com/Content/API/Concepts/apisigningkey.htm for directions on creating an API signing key
#       See https://docs.us-phoenix-1.oraclecloud.com/Content/Identity/Tasks/managingcredentials.htm on how to manage API keys in the OCI UI or API
# 4. Copy your tenancy OCID below (bottom part of OCI screen, after Tenancy OCID: heading)
# 5. Copy your OCI user account OCID (login to OCI > Identity > Users)
# 6. Copy the required API key fingerprint and private key path (below)
# 7. Fill-in the full path to the SSH public and private keys (this can be used when creating new instances)
#       See https://docs.us-phoenix-1.oraclecloud.com/Content/GSG/Tasks/creatingkeys.htm for directions on how to create this key pair
#
# HELPFUL URLs
# * https://github.com/oracle/terraform-provider-oci/blob/master/docs/Table%20of%20Contents.md
#

# RUNNING TerraForm
#
# Once you've gone through the steps mentioned above, you need to populate your environment variables, by sourcing this file... steps are below:
# 1. Modify this file (so it reflects your OCIDs, etc.)
# 2. $ terraform init
#       You only have to do this once after installing or upgrading your TerraForm plugins
# 3. $ terraform plan
#       This will show you what TerraForm might do if you applied it
# 4. $ terraform apply

# Get this from the bottom of the OCI screen (after logging in, after Tenancy ID: heading)
tenancy_ocid="<tenancy OCID"
# Get this from OCI > Identity > Users (for your user account)
user_ocid="<user OCID>"

# the fingerprint can be gathered from your user account (OCI > Identity > Users > click your username > API Keys fingerprint (select it, copy it and paste it below))
fingerprint="<PEM key fingerprint>"
# this is the full path on your local system to the private key used for the API key pair
private_key_path="<path to the private key that matches the fingerprint above>"

# region (us-phoenix-1, ca-toronto-1, etc)
region="<your region>"


# Globally Distributed Database Example Configuration

compartment_ocid                                                     = "<compartment_ocid>"
subnet_ocid                                                          = "<subnet_ocid>"
oci_globally_distributed_database_defined_tags_value                 = null
ogdd_sharded_database_catalog_details_admin_password                 = "Admin PWD"
ogdd_sharded_database_catalog_details_cloud_autonomous_vm_cluster_id = "<ogdd_sharded_database_catalog_details_cloud_autonomous_vm_cluster_id>"
ogdd_sharded_database_db_version                                     = "19c"
ogdd_sharded_database_listener_port                                  = 37382
listener_port_tls                                                    = 37383
ogdd_sharded_database_ons_port_local                                 = 37385
ogdd_sharded_database_ons_port_remote                                = 37386
ogdd_sharded_database_prefix                                         = "c19"
ogdd_sharded_database_shard_details_admin_password                   = "Admin PWD"
ogdd_sharded_database_shard_details_cloud_autonomous_vm_cluster_id   = "<ogdd_sharded_database_shard_details_cloud_autonomous_vm_cluster_id>"
ogdd_sharded_database_shard_details_shard_space                      = "xyz"
ogdd_sharded_database_cluster_certificate_common_name                = "gdad_preprod"

# POST
oci_globally_distributed_database_configure_sharding_trigger                            = null
oci_globally_distributed_database_download_gsm_certificate_signing_request_trigger      = null
oci_globally_distributed_database_generate_gsm_certificate_signing_request_trigger      = null
oci_globally_distributed_database_get_connection_string_trigger                         = null
oci_globally_distributed_database_start_database_trigger                                = null
oci_globally_distributed_database_stop_database_trigger                                 = null
oci_globally_distributed_database_validate_network_trigger                              = null

#PATCH


oci_globally_distributed_database_patch_operation_operation = "MERGE"
oci_globally_distributed_database_patch_operation_selection = "shardDetails[?name=='c3900001td']"
oci_globally_distributed_database_patch_operation_value = {
  computeCount         = 4
  dataStorageSizeInGbs = 32
  isAutoScalingEnabled = true
}
